body{
    background-image: url(./pictures/background/a1cadb0911675232054cc13deee6a3221b4dd88e.jpg);
    background-size: 100% 94vh;
}
.navbar {
    margin: 675px 2px 3px 4px;
}

div.nc {

    float: left;
    background-color: rgb(31, 39, 19);
    color: white;
}

.left {
    margin: 0% 0% 0% -1%;
    padding:14px 375px 6px 21px;
}

.center {
    padding:0px 280px 0px 40px;
    float: left;
    
}
.right{
    padding: 0px 0px 2px 0px;
    margin: -54px -9px 1px 1175px;
    float: left;
}

.limg img {
    height: 28px;
    width: 26px;
    margin: 0% 0% 2% 4%;
}
.text {
    margin: -56% -44% 1% 56%;
    font-size: 14px;
}
.center img{
    margin: 11px 4px 4px 3px;
    height: 31px;
    float: left;
    padding: 0px 3px 8px 4px;
}

.search{
    /* background-color: r; */
    background-color: rebeccapurple;
    border-radius: 18px;
    /* padding: 4px 2px 3px 4px; */
    float: left;
    /* margin: -4px 1px 4px -1px; */
    background-color: rgb(49, 56, 38);
    margin: 12px 2px 4px 3px;
    padding: 0px 3px 1px 4px;
}
.search img{
    height: 20px;
    margin: 5px 5px 3px 8px;
    padding: 1px 3px 1px 4px;
}
.search p{
    padding: 1px 5px 1px 11px;
    margin: 4px 42px -19px 31px;
}
.right p{
    font-size: 13px;
    margin: -39px 213px 8px 89px;

}
.up{
    margin: 20px 5px 12px 55px;

}
.right img{
    height: 16px;
    margin: 20px 4px 12px 6px;
}
.access{
    margin: -54px 109px 6px 123px;

    /* border: 2px solid red; */
}
.dt{
    font-size: 13px;
    margin: -43px 47px -20px 220px;
}
.bell{
    margin: -5px 10px 5px 292px !important; 
    height: 23px !important;
}
